.header {
    color: white;
    text-align: center;
    padding: 20px;
    position: relative; 
    margin: 10px 30px 10px 30px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
    text-align: left;
  }
  
  .header nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  .header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }
  